.tribe-events-ajax-loading{
	display: none;
}
.div-evento{
	margin-top: 20px;
}
.div-evento .evento-content{
	height: 100%;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.div-evento .evento-thumbnail{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	height: 400px;
	width: 100%;
	background-size: cover;
	background-position: center;
}

.evento-title{
	font-size: 2em;
}
.evento-date{
	font-size: 0.8em;
}