.navbar{
	/*border-bottom: 3px solid #404040 !important;*/
}

.sec-horarios{
	max-width: 400px;
	border: 3px solid #fff;
	margin-top: -80px;
	background:  #00A859;
	padding: 10px;
}
.sec-horarios p{
	line-height: 15px;
	font-size: 1.3em !important;
}

.sec-horarios .col{
	display: table;
}

.sec-horarios .col div{
	display: table-cell;	
	vertical-align: middle;
}

.sec-sobre{
	max-width: 80%;
	margin: auto;
}
.sec-sobre .div-sobre .thumbnail{
		-webkit-box-shadow: none;
	}
.sec-sobre div img{
	border-radius: 100%;
	width: 100px;
	height: 100px;	
}

.sec-eventos{
	background: url('../assets/img/bg_2.jpg') center center;
}

.sec-eventos .div-ultimo-evento{
	text-align: right;
}
.sec-eventos .div-ultimo-evento img{
	height: 200px;
}



.sec-eventos img{
	width: 250px;
	margin: auto;
}
.sec-eventos .evento-nome{
	font-size: 2em;
}
.sec-eventos .evento-data{
	font-size: 1.5em;
}
.sec-eventos .data{
	font-size: 1.5em;
	color: #F58634 !important;
}
.sec-eventos .evento-dept{
	font-size: 1.5em;
}


.sec-projetos{
	margin-top: 20px;
}
.sec-projetos .row div{
	margin: 0;
	padding: 0;
}

.sec-vers{
	background: #eee;
	padding-top: 20px;
	padding-bottom: 20px;
}	